/*estilo da galeria
layout responsivo - fazendo uma coluna formar duas */
@media screen and (max-width: 800px){
    .coluna {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px){
    .coluna {
        flex: 100%;
        max-width: 100%;
    }
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
header {
    text-align: center;
    padding: 32px;
}
    /*menu*/
.container {
    
    display: inline-block;
    cursor: pointer;
    
}

#menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;

}

.barra1, .barra2, .barra3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.5s;
    border-color:#333;
    background-color: white;
}
/*rotacionar a barra1*/
.change .barra1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
/*esconder barras centrais*/
.change .barra2 {
    opacity: 0;

}
/*rotacionar barra3*/
.change .barra3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*colunas da galeria*/
#img-header {
    display: block;
    width: 25vw;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.coluna {
    flex: 50%;
    padding: 0 4px;
}
.coluna img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/*estilo do botões*/
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}
.btn:hover {
    background-color: #ddd;
}
.btn.active {
    background-color: #666;
    color: white;
}
    /*criar duas colunas iguais*/
