* {
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100%;
    margin: 0;  
    font-family: Arial, Helvetica, sans-serif;
}

                /*menu estilo*/


.container {
    display: inline-block;
    cursor: pointer;
    
}
#menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.barra1, .barra2, .barra3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.5s;
}
/*rotacionar a barra1*/
.change .barra1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
/*esconder barras centrais*/
.change .barra2 {
    opacity: 0;

}
/*rotacionar barra3*/
.change .barra3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}




                /*/menu estilo */

    /*estilo das imagens*/
.bg-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
/*imagens usadas*/
.img1 {
    background-image: url("../imagens/patins.jpg")
}
.img2 {
    background-image: url("../imagens/juma.jpg")
}
.img3 {
    background-image: url('../imagens/martim-pescador.jpg')
}
.img4 {
    background-image: url('../imagens/elefante.jpg')
}
.img5 {
    background-image: url('../imagens/tunel.jpg')
}
.img6 {
    background-image: url('../imagens/golira.jpg')
}

/*texto*/
.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
}
