/*estilo da galeria
layout responsivo - fazendo uma coluna formar duas */
@media screen and (max-width: 800px){
    .coluna {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px){
    .coluna {
        flex: 100%;
        max-width: 100%;
    }
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
header {
    text-align: center;
    padding: 32px;
}
    /*menu*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; /*manter no topo*/
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;/*desabilitar o rolamento lateral*/
    padding-top: 60px;
    transition: 0.5s;
}
/*navegação dos links do menu*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/*colunas da galeria*/
#img-header {
    display: block;
    width: 25vw;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.coluna {
    flex: 50%;
    padding: 0 4px;
}
.coluna img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/*estilo do botões*/
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}
.btn:hover {
    background-color: #ddd;
}
.btn.active {
    background-color: #666;
    color: white;
}
    /*criar duas colunas iguais*/


/*legenda nas imagens
*/
.image {
    display: block;
    width: 100%;
    height: auto;
}
.legenda {
    position: relative;
    width: 100%;
    
    
}
.overlay{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}
.legenda:hover .overlay {
    opacity: 1;
}